<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/a_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/a_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pruebas_proyectos"
        tools:targetApi="31">
        <activity
            android:name=".RangoPrecios"
            android:exported="false" />
        <activity
            android:name=".RevisarOfertas"
            android:exported="false" />
        <activity
            android:name=".Descuentos"
            android:exported="false" />
        <activity
            android:name=".RestaurantesGuardados"
            android:exported="false" />
        <activity
            android:name=".AgregarRestaurante"
            android:exported="false" />
        <activity
            android:name=".CaraPublico"
            android:exported="false"
            android:label="@string/title_activity_cara_publico"
            android:theme="@style/Theme.Pruebas_proyectos.NoActionBar" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".CrearCuenta"
            android:exported="false" />
        <activity
            android:name=".PaginaPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>